# CS 495 (ML) Diamond dataset
Welcome to the Machine Learning demo. In this notebook, we will demonstrate how to read in a basic dataset and generate a machine learning model (or two) based on the price of a diamond's price data set.

# 1 - Load & Initialize Data
## Import Libraries & Load Data
First, we must initialize the environment and import data from the CSV file into a Pandas dataframe:

In [1]:
# Imports
import math
import pandas as pd
#from pandas import DataFrame
from pandas import DataFrame
from IPython import display
from sklearn import preprocessing # For label encoding and data scaling
from sklearn.model_selection import cross_val_score #for cross validation
from sklearn import linear_model #for linear regression model
# Test that Pandas is installed and imported
pd.__version__

df_diamond = pd.read_csv("C:/Users/dattr/Desktop/diamonds.csv")
#print (df_diamond)

## Display Numerical Data
Next, we clean up the data a bit and print basic stats on the number-based columns:

In [2]:
df_diamond.describe(include = ['number'])

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## Display Non-Numerical Data
Next, we print basic (and less useful) stats on the non-number columns:

In [3]:
#df_customers.describe(include = ["O"])
cm_labels = df_diamond["price"].unique()
print (cm_labels)

[ 326  327  334 ... 2753 2755 2756]

# 2 - Pre-process Data
## Encode String Labels
Convert the labels (in String format) to integers, which are more easily processed by ML algorithms:

In [4]:
# Generate label encoder object
#label_encoder = preprocessing.LabelEncoder()

# Convert Strings to ints and print unique ints
 #for color D is best J is worst

for i in range (len(df_diamond["color"])):
    #converts color to numberical values from worst to best
    if (df_diamond["color"][i] == "J"):
        df_diamond["color"][i] = 0
    elif (df_diamond["color"][i] == "I"):
        df_diamond["color"][i] = 1
    elif (df_diamond["color"][i] == "H"):
        df_diamond["color"][i] = 2
    elif (df_diamond["color"][i] == "G"):
        df_diamond["color"][i] = 3
    elif (df_diamond["color"][i] == "F"):
        df_diamond["color"][i] = 4
    elif (df_diamond["color"][i] == "E"):
        df_diamond["color"][i] = 5
    elif (df_diamond["color"][i] == "D"):
        df_diamond["color"][i] = 6
        
    #converts clarity to numerical values from worst to best
    if (df_diamond["clarity"][i] == "I1"):
        df_diamond["clarity"][i] = 0
    elif (df_diamond["clarity"][i] == "SI2"):
        df_diamond["clarity"][i] = 1
    elif (df_diamond["clarity"][i] == "SI1"):
        df_diamond["clarity"][i] = 2
    elif (df_diamond["clarity"][i] == "VS2"):
        df_diamond["clarity"][i] = 3
    elif (df_diamond["clarity"][i] == "VS1"):
        df_diamond["clarity"][i] = 4
    elif (df_diamond["clarity"][i] == "VVS2"):
        df_diamond["clarity"][i] = 5
    elif (df_diamond["clarity"][i] == "VVS1"):
        df_diamond["clarity"][i] = 6
    elif (df_diamond["clarity"][i] == "IF"):
        df_diamond["clarity"][i] = 7
    #converts cut values to numerical values from worst to best
    if (df_diamond["cut"][i] == "Fair"):
        df_diamond["cut"][i] = 0
    elif (df_diamond["cut"][i] == "Good"):
        df_diamond["cut"][i] = 1
    elif (df_diamond["cut"][i] == "Very Good"):
        df_diamond["cut"][i] = 2
    elif (df_diamond["cut"][i] == "Premium"):
        df_diamond["cut"][i] = 3
    elif (df_diamond["cut"][i] == "Ideal"):
        df_diamond["cut"][i] = 4
    
    
        
        
#df_diamond["color"] = label_encoder.fit_transform(df_diamond["color"])
#cut quality of the cut (Fair, Good, Very Good, Premium, Ideal)
#df_diamond["cut"] = label_encoder.fit_transform(df_diamond["cut"])
 #clarity a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
#df_diamond["clarity"] = label_encoder.fit_transform(df_diamond["clarity"])
df_diamond.head(n= 20)

C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dattr\Anaconda3\envs\CS495_Demo\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    carat cut color clarity  depth  table  price     x     y     z
0    0.23   4     5       1   61.5   55.0    326  3.95  3.98  2.43
1    0.21   3     5       2   59.8   61.0    326  3.89  3.84  2.31
2    0.23   1     5       4   56.9   65.0    327  4.05  4.07  2.31
3    0.29   3     1       3   62.4   58.0    334  4.20  4.23  2.63
4    0.31   1     0       1   63.3   58.0    335  4.34  4.35  2.75
5    0.24   2     0       5   62.8   57.0    336  3.94  3.96  2.48
6    0.24   2     1       6   62.3   57.0    336  3.95  3.98  2.47
7    0.26   2     2       2   61.9   55.0    337  4.07  4.11  2.53
8    0.22   0     5       3   65.1   61.0    337  3.87  3.78  2.49
9    0.23   2     2       4   59.4   61.0    338  4.00  4.05  2.39
10   0.30   1     0       2   64.0   55.0    339  4.25  4.28  2.73
11   0.23   4     0       4   62.8   56.0    340  3.93  3.90  2.46
12   0.22   3     4       2   60.4   61.0    342  3.88  3.84  2.33
13   0.31   4     0       1   62.2   54.0    344  4.35  4.37  2.71
14   0.20   3     5       1   60.2   62.0    345  3.79  3.75  2.27
15   0.32   3     5       0   60.9   58.0    345  4.38  4.42  2.68
16   0.30   4     1       1   62.0   54.0    348  4.31  4.34  2.68
17   0.30   1     0       2   63.4   54.0    351  4.23  4.29  2.70
18   0.30   1     0       2   63.8   56.0    351  4.23  4.26  2.71
19   0.30   2     0       2   62.7   59.0    351  4.21  4.27  2.66

## Filter Data

In [5]:
# NOTHING for now (KEEP all data where the class label is greater or equal to 0 - which is ALL DATA in this case)
#df_diamond = df_diamond[df_diamond.Class >= 0]
#df_diamond.describe()
#df_diamond.head(n = 100)

## Randomize Data
Randomize data and print first few rows for confirmation:

In [6]:
import numpy as np
df_diamond = df_diamond.reindex(np.random.permutation(df_diamond.index))
df_diamond.to_csv("C:/Users/dattr/Desktop/diamond_dataset_Randomized.csv", index = False)
df_diamond.head(n = 10)

       carat cut color clarity  depth  table  price     x     y     z
31425   0.30   4     2       7   61.5   58.0    764  4.28  4.30  2.64
38686   0.39   1     3       6   61.6   61.0   1041  4.71  4.74  2.91
4776    1.11   3     1       1   61.3   59.0   3692  6.69  6.63  4.09
22023   0.34   4     3       3   61.0   55.0    628  4.56  4.58  2.79
42480   0.43   4     3       7   61.3   56.0   1318  4.86  4.90  2.99
27441   2.29   2     1       2   61.8   59.0  18068  8.44  8.51  5.24
9671    1.00   1     5       2   63.9   55.0   4646  6.28  6.34  4.03
3411    0.38   4     4       1   62.0   55.0    568  4.67  4.69  2.90
29025   0.33   4     2       6   61.4   53.0    687  4.50  4.55  2.78
40087   0.33   3     2       7   62.0   58.0   1114  4.42  4.39  2.73

## Select Columns for Features & Labels
The following methods pre-process the data by extracting the relevant features and targets into separate dataframes:

In [7]:
# Takes in a Pandas DataFrame taht contains a raw dataset and returns a
# Pandas DataFrame that contains only the selected features used for a model
def get_features_dataframe(df_input):
    
    # Create a new/blank DataFrame
    df_selected = pd.DataFrame()
    
    # Grab any features already available
    df_selected["cut"] = df_input["cut"]
    df_selected["carat"] = df_input["carat"]
    #for color D is best J is worst
    df_selected["color"] = df_input["color"]
    #clarity a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
    df_selected["clarity"] = df_input["clarity"]
    df_selected["depth"] = df_input["depth"]
    df_selected["table"] = df_input["table"]
    df_selected["x"] = df_input["x"]
    df_selected["y"] = df_input["y"]
    df_selected["z"] = df_input["z"]


    
    # Make a copy of the selected features
    df_processed = df_selected.copy()
    
    #Create synthetic feature
   # df_processed["diamond_area"] = df_input["x"] * df_input["y"] * df_input["z"]
    
    
    # Return the selected features (both pre-existing and synthetic)
    return df_processed


# Takes in a Pandas DataFrame taht contains a raw dataset and returns a
# Pandas DataFrame that contains only the selected target(s) used for a model
def get_targets_dataframe(df_input):
    
    # Create a new/blank DataFrame
    df_selected = pd.DataFrame()
    
    # Grab any features already available
    df_selected["diamond_price"] = df_input["price"]
    
    # Make a copy of the selected features
    df_processed = df_selected.copy()
    
    # Create any desired synthetic features
    
    # Return the selected features (both pre-existing and synthetic)
    return df_processed

## Seperate Data into Training & Testing Sets
Select the:
- percentage of data to be used for classic test/validation split training
- number of folds for cross-validation

In [8]:
# Percentage (0-1.0 corresponds to 0% to 100%) of dataset
percent_training_data= .8
precent_validation_data = 1-percent_training_data
num_cv_folds = 5

Now separate the data into training and validation sets by setting the percentage of data to be used for training:

In [9]:
# Choose the first (percent_training_data)% examples for training
num_total_examples = len(df_diamond)
num_training_examples = math.ceil(num_total_examples * percent_training_data)
num_validation_examples = num_total_examples - num_training_examples

# Get all examples (useful later on...)
df_features_all = get_features_dataframe(df_diamond.head(num_total_examples))
df_targets_all = get_targets_dataframe(df_diamond.head(num_total_examples))

# Choose the first (percent_training_data)% for training examples
df_features_training = get_features_dataframe(df_diamond.head(num_training_examples))
df_targets_training = get_targets_dataframe(df_diamond.head(num_training_examples))

# Choose the last (1-percent_training_data)% for validation examples
df_features_validation = get_features_dataframe(df_diamond.tail(num_validation_examples))
df_targets_validation = get_targets_dataframe(df_diamond.tail(num_validation_examples))

## Display Summary of Training/Testing Data (SANITY CHECK)
Print out basic stats of the training and validation data for both the features and targets/labels. Means (averages) between the training and validation features/targets should be close if data was properly randomized:

In [10]:
# Print summary of data split
print (str(num_total_examples) + " total examples used: ")
print("\t" + str( round(num_training_examples / num_total_examples * 100, 2)  ) + 
      "% (" + str(num_training_examples) + " examples used for training)")
print("\t" + str( round(num_validation_examples / num_total_examples * 100, 2)  ) + 
      "% (" + str(num_validation_examples) + " examples used for validation)")

# Display summary of features data
print("\nTraining features summary:")
display.display(df_features_training.describe())
print("\nValidation features summary:")
display.display(df_features_validation.describe())

# Display summary of labels/targets data
print("\nTraining targets/labels summary:")
display.display(df_targets_training.describe())
print("\nValidation targets/labels summary:")
display.display(df_targets_validation.describe())

53940 total examples used:
	80.0% (43152 examples used for training)
	20.0% (10788 examples used for validation)

Training features summary:

,carat,depth,table,x,y,z
count,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000
mean,0.796505,61.747036,57.461960,5.727633,5.731381,3.536830
std,0.473499,1.431778,2.240371,1.120906,1.148369,0.707931
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.030000
max,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000

Validation features summary:

,carat,depth,table,x,y,z
count,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000
mean,0.803678,61.758880,57.438079,5.745252,5.747104,3.546348
std,0.476034,1.436016,2.210813,1.125116,1.116814,0.696680
min,0.200000,50.800000,50.000000,0.000000,0.000000,0.000000
25%,0.400000,61.100000,56.000000,4.720000,4.730000,2.920000
50%,0.700000,61.800000,57.000000,5.710000,5.720000,3.530000
75%,1.050000,62.500000,59.000000,6.540000,6.540000,4.040000
max,3.010000,78.200000,76.000000,9.440000,9.380000,5.770000

Training targets/labels summary:

       diamond_price
count   43152.000000
mean     3924.406795
std      3983.522044
min       326.000000
25%       946.000000
50%      2400.500000
75%      5312.000000
max     18823.000000

Validation targets/labels summary:

       diamond_price
count   10788.000000
mean     3966.371431
std      4013.033169
min       326.000000
25%       961.000000
50%      2402.000000
75%      5385.000000
max     18795.000000

## Standardize Data & Display (SANITY CHECK)
Standardize all feature data so that it looks like Gaussian distribution with 0 MEAN and UNIT 1 variation (standard deviation). Display results for sanity check:

In [11]:
# Create scalar from training examples and normalize both training and validation examples
scaler = preprocessing.StandardScaler().fit(df_features_training)
df_features_training_normalized = pd.DataFrame(scaler.transform(df_features_training))
df_features_validation_normalized = pd.DataFrame(scaler.transform(df_features_validation))

# Display summary of feature data
print("\nTraining features summary:")
display.display(df_features_training_normalized.describe())
print("\nValidation features summary:")
display.display(df_features_validation_normalized.describe())

# For more tips on scaling data in SCIKIT-LEARN:
# https://scikit-learn.org/stable/modules/preprocessing.html

Training features summary:

,0,1,2,3,4,5,6,7,8
count,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04,4.315200e+04
mean,7.887235e-17,2.272314e-17,-1.015132e-16,-3.918918e-17,5.614262e-15,9.719906e-16,-2.743243e-16,-2.097774e-16,-8.289007e-16
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00
min,-2.601638e+00,-1.259796e+00,-2.003780e+00,-1.855154e+00,-1.309368e+01,-6.455238e+00,-5.109885e+00,-4.990947e+00,-4.996069e+00
25%,-8.089120e-01,-8.374038e-01,-8.267399e-01,-6.418714e-01,-5.217600e-01,-6.525602e-01,-9.078776e-01,-8.807215e-01,-8.854502e-01
50%,8.745107e-02,-2.038152e-01,-2.382201e-01,-3.522996e-02,3.699215e-02,-2.062004e-01,-3.357456e-02,-1.861914e-02,-2.377417e-02
75%,9.838141e-01,5.142519e-01,9.388195e-01,5.714115e-01,5.259003e-01,6.865193e-01,7.247495e-01,7.041535e-01,6.966435e-01
max,9.838141e-01,8.898741e+00,1.527339e+00,2.391336e+00,1.205016e+01,1.675547e+01,4.471762e+00,4.629979e+01,3.992409e+01

Validation features summary:

,0,1,2,3,4,5,6,7,8
count,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000
mean,0.007436,0.015149,0.003014,-0.021397,0.008272,-0.010659,0.015718,0.013692,0.013444
std,1.004365,1.005366,1.005653,0.995915,1.002971,0.986818,1.003767,0.972533,0.984118
min,-2.601638,-1.259796,-2.003780,-1.855154,-7.645850,-3.330719,-5.109885,-4.990947,-4.996069
25%,-0.808912,-0.837404,-0.826740,-0.641871,-0.451916,-0.652560,-0.898956,-0.872013,-0.871324
50%,0.087451,-0.203815,-0.238220,-0.035230,0.036992,-0.206200,-0.015732,-0.009911,-0.009648
75%,0.983814,0.535371,0.938819,0.571411,0.525900,0.686519,0.724749,0.704154,0.710769
max,0.983814,4.674817,1.527339,2.391336,11.491412,8.274636,3.311973,3.177255,3.154539

# 3 - Generate Machine Learning Models & Make Predictions
## Variable Initialization
The following code creates multiple arrays for the purposes of code simplicity:

In [12]:
# TODO
lst_regmodel_names = ["Ridge Regression (RR)", "Linear Support Vector Regression (LSVR)"]
lst_regmodels =[]
lst_regmodel_predictions = []
lst_regmodel_CMs = []

## Train Data
The following code fits several classifiers to the training data:

In [13]:
#Train/fit Ridge regression model
from sklearn.linear_model import Ridge
ridgeReg = Ridge(alpha = 1.0)
ridgeReg.fit(df_features_training_normalized, df_targets_training.to_numpy().ravel())
lst_regmodels.append(ridgeReg)
print(ridgeReg, end="\n\n\t")

#Train/fit Linear Support Vector Regression model
from sklearn.svm import LinearSVR
lsvr =LinearSVR(random_state=0, tol=1e-5, max_iter = 100000)
lsvr.fit(df_features_training_normalized, df_targets_training.to_numpy().ravel())
lst_regmodels.append(lsvr)
print(lsvr, end="\n\n\t")

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

	LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,
          intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=100000,
          random_state=0, tol=1e-05, verbose=0)

# 4 - Formatted results
## Generate Stats
Generate mean square error and show the percentage correct
alongside the predictions.

In [14]:
from sklearn.metrics import mean_squared_error
import math
actual = df_targets_validation.to_numpy().ravel()
average = 0
for i in range(len(lst_regmodel_names)):
    average = 0
    prediction = lst_regmodels[i].predict(df_features_validation_normalized)
    lst_regmodel_predictions.append(prediction)
    error = mean_squared_error(actual, prediction)
    print(1 - error)
    print(lst_regmodel_names[i] + " Predictions:")
    print (prediction)
    print("Mean Square Error Value: " + str(error) )
    #print("Percentage Correct: " + str(1-error) + "\n")
    for j in range(len(prediction)):
        average += (math.pow(prediction[j] - df_targets_validation.to_numpy().ravel()[j], 2))
    average = average / len(prediction)
    print("average:" + str(average))
    print("Square root of Average: " + str(math.sqrt(average)))
    print("\n\n")
#Print actual validation lables

print("***ACTUAL LABELS:***")
print(df_targets_validation.to_numpy().ravel())
print(len(df_targets_validation))

-1455847.6630633825
Ridge Regression (RR) Predictions:
[7140.27591118  696.67546609 2215.9828491  ... 4354.38912078 5504.3221264
 1364.51013788]
Mean Square Error Value: 1455848.6630633825
average:1455848.6630633834
Square root of Average: 1206.5855390577924



-2337603.106182715
Linear Support Vector Regression (LSVR) Predictions:
[6272.50034074  698.60997045 2112.21998472 ... 4334.63697809 5078.94198737
 1031.40938032]
Mean Square Error Value: 2337604.106182715
average:2337604.1061827224
Square root of Average: 1528.922531125342



***ACTUAL LABELS:***
[6887  800 1790 ... 3640 5027 1069]
10788